body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --dark-gold-background: rgba(209, 179, 8, 0.678);
    --content-background: rgb(236, 234, 234);
    --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --header-box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --text-container: rgb(244, 244, 244);
}

/*make it responsive later */
body {
    display: grid;
    grid-template-columns: 1fr minmax(220px,275px) 750px 275px 1fr;
    grid-template-rows: 7.5% 9% 83.5%;
    grid-template-areas: 
        "side1 sidebar header1 header1 side2"
        "side1 sidebar header2 header2 side2"
        "side1 sidebar mainContent sidebar2 side2"
}

/*for the black items*/
.blackbar {
    background-color: black;
    height: 100%;
}

#side1 {
    grid-area: side1;
}

#side2 {
    grid-area: side2;
}
/*end the black items*/

/*for the dashboard sidebar */
#sidebar {
    grid-area: sidebar;
    background-color: var(--dark-gold-background);
}

#sidebar * {
    color: white;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover {
    color: rgb(200, 200, 200);
}

#dashboard-nav-items div, #dashboard-company-info-items div {
    margin-left: 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}

#dashboard-text {
    margin-left: 15px;
    margin-bottom: 3rem;
}

#dashboard-text .mdi {
    margin-right: 1rem;
}

#dashboard-nav-items .mdi, #dashboard-company-info-items .mdi {
    margin-right: 1.5rem;
}

#dashboard-company-info-items {
    margin-top: 3.5rem;
}

/*end the dashboard sidebar*/

/*for the first header with the search bar and stuff */
#top-first-header {
    grid-area: header1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mdi-magnify, .mdi-bell-ring-outline{
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

#searchbar {
    border-radius: 10px;
    height: 1.55rem;
    width: clamp(50px, 650px, 700px);
    border: none;
    background-color: rgba(211, 211, 211, 0.466);
}

#right-part-top-first-header {
    margin-left: auto;
    margin-right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small {
    height: 2.25rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/*end the first header*/


/*for the second header*/
#top-second-header {
    grid-area: header2;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--header-box-shadow);
}

#top-second-header-text {
    margin-left: 1rem;
}

#top-second-header-text > p {
    font-size: 1em;
    margin-bottom: 0px;
}

#top-second-header-text > h2{
    font-size: 1.4rem;
    margin-top: 0px;
}

#top-second-header-btns-container {
    margin-left: auto;
    margin-right: 4rem;
}

#top-second-header-btns-container button {
    border: none;
    background-color: var(--dark-gold-background);
    height: 2.75em;
    width: 6.5em;
    border-radius: 30px;
    color: white;
    margin-left: 2em;
}

.pfp {
    border-radius: 50%;
}

.scale-up {
    height: 3.25rem;
    margin-left: 2rem;
}


/*for the main content with the projects */
#main-content {
    grid-area: mainContent;
    background-color: var(--content-background);
}

#main-content-header {
    margin-left: 0.75em;
}

.header-text {
    font-size: 1.25em;
    margin-bottom: 0px;
}

#all-projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gold-left-div {
    background-color: var(--dark-gold-background);
    margin: 1em;
    height: 200px;
    width: 335px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.project-container {
    background-color: white;
    margin: 0;
    margin-left: 0.75em;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.project-button-icons .mdi {
    margin-right: 0.8em;
    font-size: 1.25em;
}

.project-button-icons {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 1.5em;
    margin-right: 0.5em;
}

.project-text {
    margin: 1em;
}

.project-text h4 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 1.3em
}

.project-text p {
    margin-top: 0.2em;
}


.project-button-icons button {
    border: none;
    background: transparent;
    padding: 0;
    outline: 0;
}


/*end the main content*/

/* for the sidebar with announcements and trending */

#sidebar-2 {
    grid-area: sidebar2;
    background: var(--content-background);
}

#announcements-content, #trending-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1em;
    margin-right: 1.5em;
    margin-bottom: 2em;
    border-radius: 7.5px;
    box-shadow: var(--box-shadow);
}

.announcement-items {
    height: 60px;
    padding: 1.5rem;
}


.announcement-items h4 {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.announcement-items p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*start trending items */

#trending-content {
    height: 270px;
}

.trending-items {
    display: flex;
    flex-direction: row;
}

.trending-items:nth-child(1) {
    margin-top: 1em;
}

.trending-items:nth-child(4) {
    margin-bottom: 1em;
}

.trending-pfp, .trending-text {
    padding: 0.5em;
    padding-right: 0em;
}

.trending-pfp {
    margin-left: 1em;
    height: 2.5em;
}

.trending-text h4, .trending-text p {
    margin: 0;
    font-size: 0.9rem;
}

.trending-text p {
    margin: 0;
    font-size: 0.9rem;
}

/*end trending items */